* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul {
	list-style: none;
}

#headWarp {
	height: 197px;
}

.headTop {
	width: 100%;
	height: 40px;
	border-top: 1px solid #B0B0B0;
	border-bottom: 1px solid #B0B0B0;
	background: #fafafa;
}

.headIndent {
	width: 1202px;
	height: 40px;
	margin: 0 auto;
	font-size: 15px;
	/*background: cadetblue;*/
}

.indent {
	float: left;
	line-height: 40px;
}

.indent>a:hover {
	color: #4BAE00;
}

.Info {
	float: right;
}

.Info a:hover {
	color: #4BAE00;
}

.Info>li {
	float: left;
	margin-left: 15px;
	position: relative;
	line-height: 40px;
}

.Info>li>i {
	display: inline-block;
	width: 10px;
	height: 10px;
	cursor: pointer;
	padding-right: 7px;
	background: url(../img/维尔/site-bg.png) no-repeat 0px -14px;
}

.Info i.on {
	background: url(../img/维尔/site-bg.png) no-repeat 0px -4px;
}

.Info>li>ul {
	width: 80px;
	z-index: 8;
	position: absolute;
	top: 40px;
	border: 1px solid #f0f0f0;
	display: none;
}

.Info>li>ul>li a {
	font-size: 12px;
}

.Info>li>ul>li a:hover {
	color: #4BAE00;
}

.headSeek {
	width: 1202px;
	height: 119px;
	margin: 0 auto;
}

.seekLogo {
	width: 429px;
	height: 83px;
	float: left;
	margin-top: 20px;
}

.seek {
	width: 420px;
	height: 61px;
	float: left;
	margin-top: 30px;
	margin-left: 20px;
}

.seek>input {
	border-style: none;
}

#mytext {
	width: 330px;
	height: 35px;
	text-indent: 5px;
	float: left;
	border: 1px solid #4bae00;
}

.seek>ul>li {
	float: left;
	font-size: 13px;
	margin-top: 5px;
}

.seek>ul>li>p {
	color: #fabe32;
}

.seek>ul>li>a {
	padding-left: 10px;
	color: #666666;
}

.seek>ul>li>a:hover {
	color: #669900;
}

#btn {
	width: 83px;
	height: 37px;
	float: left;
	background: #4bae00;
	color: white;
	font-size: 17px;
	cursor: pointer;
}

.bycar {
	float: right;
	width: 150px;
	height: 40px;
	background: #fabe32;
	margin-top: 30px;
	text-align: center;
	line-height: 40px;
	position: relative;
	cursor: pointer;
	border: 1px solid orange;
	border-bottom: 1px solid white;
}

.bycar>a {
	color: white;
	font-size: 13px;
}

.bycar>span {
	color: white;
	font-size: 13px;
}

.bycar>i {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	background: url(../img/维尔/common-icon.png) no-repeat -363px -93px;
}

.bycar>div {
	width: 325px;
	height: 43px;
	border: 1px solid #FABE32;
	position: absolute;
	top: 39px;
	right: -1px;
	z-index: -1;
	display: none;
}

.bycar>div>p {
	color: #666666;
	font-size: 15px;
}

.headNav {
	width: 100%;
	height: 41px;
	background: #4bae00;
}

.navWarp {
	width: 1202px;
	height: 41px;
	margin: 0 auto;
}

.Category {
	width: 233px;
	height: 41px;
	background: #fabe32;
	float: left;
	position: relative;
}

.Category>p {
	width: 233px;
	line-height: 41px;
	text-align: center;
}

.Category>p>i {
	display: inline-block;
	width: 10px;
	height: 10px;
	position: absolute;
	top: 14px;
	right: 10px;
	background: url(../img/维尔/common-icon.png) no-repeat 0px -60px;
}

.Category>p>a {
	color: white;
}

.menu {
	width: 233px;
	height: 483px;
	position: absolute;
	top: 41px;
	background: #f1f2f0;
	z-index: 99;
}

.menu>li.on {
	border-left: 2px solid green;
	background: white;
}

.menu>li {
	width: 233px;
	height: 60px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5de;
}

.menu>li>p {
	width: 80px;
	height: 17px;
	line-height: 17px;
	margin: 8px 0 8px 20px;
}

.menu>li>p>a {
	font-size: 17px;
	color: black;
}

.menu>li>div {
	width: 228px;
	height: 17px;
	margin-left: 20px;
	line-height: 17px;
}

.menu>li>div>a {
	font-size: 13px;
	color: #B0B0B0;
	margin-right: 10px;
}

.menu>li i {
	display: inline-block;
	width: 15px;
	height: 15px;
	position: absolute;
	right: 23px;
	background: url(../img/维尔/common-icon.png) no-repeat -27px -59px;
}

.menu>li:hover p {
	padding-left: 5px;
	transition: all 0.3s ease 0s;
}

.menu>li:hover div {
	padding-left: 5px;
	transition: all 0.3s ease 0s;
}

.sort {
	height: 41px;
	float: left;
}

.sort>li {
	float: left;
	width: 100px;
	height: 41px;
	text-align: center;
	line-height: 41px;
}

.sort>li>a {
	color: white;
}

.sort>li:hover {
	background: #fabe32;
}

.details {
	width: 560px;
	height: 483px;
	position: absolute;
	left: 233px;
	overflow: hidden;
	display: none;
	z-index: 88;
}

.detailsSce {
	width: 560px;
	height: 483px;
	background: white;
	/*display: none;*/
}

.detailsCon {
	width: 560px;
	height: 283px;
}

.detailsCon>dl {
	margin-left: 15px;
}

.detailsCon dl dd>span>a {
	display: inline-block;
	font-size: 13px;
	color: #4BAE00;
}

.detailsCon>dl>dd>a {
	color: #666666;
	font-size: 12px;
	padding: 0px 5px;
	line-height: 28px;
	display: inline-block;
	word-spacing: normal;
	letter-spacing: normal;
}

.detailsCon>dl>dd>a:hover {
	color: #4BAE00;
}

.cake {
	width: 560px;
	height: 200px;
}

.rightSidebar {
	position: fixed;
	width: 36px;
	height: 100%;
	background: #595656;
	top: 0;
	right: 0;
	z-index: 88;
}

.rightSidebar>ul {
	width: 36px;
	height: 317px;
	margin-top: 132px;
}

.rightSidebar>ul>li {
	position: relative;
}

.quickArea>a {
	display: inline-block;
	width: 36px;
	height: 37px;
}

.quickArea>a>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -327px -4px;
}

.please {
	position: absolute;
	width: 200px;
	height: 115px;
	background: white;
	right: 38px;
	top: 0;
	border-radius: 10px;
	text-align: center;
	letter-spacing: 5px;
	display: none;
}

..please span {
	font-size: 14px;
}

.please a {
	color: orange;
	font-size: 14px;
}

.saidebrTabs {
	width: 36px;
	height: 140px;
	margin-top: 35px;
	position: relative;
}

.saidebrTabs>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -327px -34px;
}

.saidebrTabs>p {
	width: 15px;
	height: 47px;
	margin-left: 9px;
	color: white;
}

.saidebrTabs>span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-left: 7px;
	border-radius: 50%;
	background: #1ac14b;
	color: white;
	margin-top: 30px;
	text-align: center;
}

.tabsMask {
	position: absolute;
	top: 0;
	width: 36px;
	height: 140px;
	background: #4BAE00;
	opacity: 0.5;
	display: none;
}
#msg{
	position: fixed;
	top: 300px;
	right: 38px;
	z-index: 10000;
	width: 1px;
	height: 52px;
	line-height: 52px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	background: #360;
	display: none;
}

.history>a {
	display: inline-block;
	width: 36px;
	height: 37px;
	margin: 30px 0 30px;
}

.history>a>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -327px -125px;
}

.browsing {
	position: absolute;
	width: 100px;
	height: 50px;
	background: black;
	right: 38px;
	top: 20px;
	color: white;
	text-align: center;
	line-height: 50px;
	display: none;
}

.collect>a {
	display: inline-block;
	width: 36px;
	height: 37px;
	margin-bottom: 30px;
}

.collect>a>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -327px -95px;
}

.favorite {
	position: absolute;
	width: 100px;
	height: 50px;
	background: black;
	right: 38px;
	top: -10px;
	color: white;
	text-align: center;
	line-height: 50px;
	display: none;
}

.property>a {
	display: inline-block;
	width: 36px;
	height: 37px;
}

.property>a>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -366px -125px;
}

.myMoney {
	position: absolute;
	width: 100px;
	height: 50px;
	background: black;
	right: 38px;
	top: -10px;
	color: white;
	text-align: center;
	line-height: 50px;
	display: none;
}

.rightbottomQQ>a {
	display: inline-block;
	width: 36px;
	height: 37px;
	margin-top: 220px;
}

.rightbottomQQ>a>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -327px -185px;
}

.myQQ {
	position: absolute;
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background: white;
	border-radius: 10px;
	box-shadow: 2px 2px 2px #B0B0B0;
	right: 38px;
	top: 200px;
	display: none;
}

.myQQ>i {
	display: inline-block;
	width: 25px;
	height: 25px;
	vertical-align: middle;
	background: url(../img/维尔/user-icon.png)no-repeat -28px -124px;
}

.rightbottomCode>a {
	display: inline-block;
	width: 36px;
	height: 37px;
}

.rightbottomCode>a>i {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-left: 7px;
	background: url(../img/维尔/common-icon.png) no-repeat -366px -33px;
}

.myCode {
	position: absolute;
	width: 197px;
	height: 189px;
	right: 38px;
	top: -140px;
	display: none;
}

.buyTop>a {
	display: inline-block;
	width: 36px;
	height: 37px;
	display: none;
}

.buyTop>a>i {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin-left: 15px;
	background: url(../img/维尔/common-icon.png) no-repeat -25px -170px;
}

.buyTop>a>span {
	color: white;
	font-size: 10px;
	padding-left: 5px;
}

.online {
	width: 80px;
	height: 410px;
	position: fixed;
	right: 261px;
	top: 250px;
	z-index: 88;
}

.onlineFly {
	width: 80px;
	height: 330px;
}

.onlineFly>ul>p {
	width: 80px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	background: #ff6766;
}

.onlineFly>ul>li {
	width: 80px;
	height: 77px;
	cursor: pointer;
}

.QQservice {
	background: url(../img/维尔/rightok.jpg) no-repeat 0 -20px;
}

.lineService {
	background: url(../img/维尔/rightok.jpg) no-repeat 0 -98px;
}

.phoneService {
	background: url(../img/维尔/rightok.jpg) no-repeat 0 -171px;
}

.afterService {
	background: url(../img/维尔/rightok.jpg) no-repeat 0 -246px;
}

.onlineBtn {
	width: 90px;
	height: 80px;
	cursor: pointer;
}

.consulting {
	position: fixed;
	width: 254px;
	height: 40px;
	bottom: 0;
	right: 300px;
	line-height: 40px;
	background: #50a4fd;
	z-index: 88;
}

.consulting>i {
	float: left;
	width: 39px;
	height: 39px;
	border: 1px solid #B0B0B0;
	cursor: pointer;
	background: url(../img/维尔/1.jpg.gif) no-repeat;
}

.consulting>span {
	color: white;
	cursor: pointer;
}

.asking {
	width: 320px;
	height: 450px;
	position: fixed;
	bottom: 0;
	right: 50px;
	display: none;
	z-index: 99;
}

.askingHead {
	width: 320px;
	height: 60px;
	background: skyblue;
}

.askingHead>div {
	float: left;
}

.askingImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-left: 5px;
	margin-top: 5px;
	background: url(../img/维尔/rightok.jpg)no-repeat -17px -105px;
}

.askingName {
	width: 175px;
	height: 36px;
	margin-top: 10px;
	margin-left: 10px;
}

.askingName>p {
	color: white;
	font-size: 13px;
}

.askingRight {
	width: 70px;
	height: 22px;
	margin-top: 10px;
	margin-left: 10px;
}

.close {
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../img/维尔/common-icon.png)no-repeat -64px -94px;
}

.down {
	display: inline-block;
	width: 22px;
	height: 22px;
	margin-left: 10px;
	background: url(../img/维尔/common-icon.png)no-repeat -428px -115px;
}

.askingCon {
	width: 320px;
	height: 290px;
	background: white;
	overflow: auto;
}

.text {
	border: 1px solid #CCCCCC;
	border-radius: 10px;
}

.bubble {
	width: 273px;
	height: 133px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.agent {
	width: 273px;
	height: 133px;
	margin-left: 15px;
	margin-bottom: 10px;
}

.msgAgent {
	width: 273px;
	height: 73px;
	margin-left: 15px;
}

.textarea {
	width: 320px;
	height: 60px;
	line-height: 60px;
	background: white;
	text-align: center;
}

.textarea>a {
	color: skyblue;
}

.featrue {
	width: 320px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: white;
}

.featrue>i {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: 5px;
	vertical-align: middle;
	background: url(../img/维尔/common-icon.png) no-repeat -370px -154px;
}

.featrue>span {
	color: #B0B0B0;
}

.askingfoot {
	width: 320px;
	height: 30px;
	background: red;
}